In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
ds = pd.read_csv("data.csv")

In [46]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [47]:
#we found problem in our opinion
#SQUARE_FT - Range 300-3000 Sqft
#Address - Split, city
#Longtude, latitude

In [48]:
ds["POSTED_BY"].unique()

array(['Owner', 'Dealer', 'Builder'], dtype=object)

In [49]:
#Remove columns
ds = ds.drop(columns=["LATITUDE", "LONGITUDE"])

In [50]:
# Outline remove based on SQUARE_FT])
for i in ds.index:
    if ds.loc[i, "SQUARE_FT"] > 3000 or ds.loc[i, "SQUARE_FT"] < 300:
        ds.drop(i, inplace = True)

In [51]:
# Outline remove based on Target(PRICE_IN_LACS])
for i in ds.index:
    if ds.loc[i, "TARGET(PRICE_IN_LACS)"] > 120 or ds.loc[i, "TARGET(PRICE_IN_LACS)"] < 3:
        ds.drop(i, inplace = True)

In [52]:
for i in ds.index:
     ds.loc[i, "SQUARE_FT"] = round(ds.loc[i, "SQUARE_FT"], 2)

In [53]:
ds["UNDER_CONSTRUCTION"].unique()

array([0, 1], dtype=int64)

In [54]:
ds["RERA"].unique()

array([0, 1], dtype=int64)

In [55]:
ds['CITY'] = ds['ADDRESS'].str.split(",").str.get(-1).str.strip()
#for columns in ds.columns:
   # print("------------")
  # print (columns)
   # print(sorted(ds[columns].unique()))

In [56]:
for i in ds.index:
    address = ds.loc[i,"ADDRESS"]
    city = ds.loc[i, "CITY"]
    address = address.replace("," + city, "")
    ds.loc[i, "ADDRESS"] = address

In [57]:
ds.to_csv("cleaned_data.csv")